*{
	font-family: 'Quicksand', sans-serif;
}

body{
	overflow-x: hidden;
}

footer{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 30px;
}

footer h4{
	color: #407d9e;
	margin: 0px;
}

footer p{
	color: white;
	margin: 0px;
}

#navbar-1{
	float: left;
	width: 100%;
	background-image: url(../img/Product_01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 312px;
}

#navbar-1 .contenido_header{
	float: right;
	width: 50%;
}

#navbar-1 .contenido_header .inicio{
	margin-left: 25%;
	margin-top: 105px;
    margin-bottom: 32px;
}

#navbar-1 .contenido_header .inicio .lista-principal li{
	display: inline;
	color: white;
	border-top: 3px solid #407d9e;
	margin: 5px;
}

#navbar-1 .contenido_header .inicio .lista-principal li a{
	text-decoration: none;
	color: white;
}

#navbar-1 .contenido_header .datos-contacto{
	display: block;
	background-color: #407d9e;
	color: white;
	border-radius: 5px;
	float: right;
	padding-left: 35px;
    padding-right: 100px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #144159;
}

.navbar{
	overflow: hidden;
	background-color: #407d9e;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

/* HOME */

.clips{
	padding: 80px;
    background-color: black;
    border-top: 10px solid #407d9e;
    border-bottom: 10px solid #407d9e;
}

.clips .title-blue{
	color: #407d9e;;
}

#menu-down{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 10px solid #407d9e;
}

#menu-down .inicio .lista-principal li{
	display: inline;
}

#menu-down .inicio .lista-principal li a{
	text-decoration: none;
	color: white;
	margin: 5px;
}

#menu-down .inicio .lista-principal li:hover{
	border-bottom: 3px solid #407d9e;
}

/* SINGLE A */

#header-inicio .container-fluid .banner-1{
	background-size: cover;
	background-position: center;
	height: auto;
	width: 100%;
}

.container-a{
	padding: 75px;
}
.container-b{
	padding: 75px;
}
.container-a ul li{
	list-style-type: none;
}
.container-b ul li{
	list-style-type: none;
}
.title-bold{
	font-weight: bold;
}
#lista-menu{
	background-color: #144159;
}
#lista-menu ul{
	margin-top: 10px;
	margin-left: 103px;
}
#lista-menu ul li{
	list-style-type: none;
	display: inline;
	text-decoration: none;
	margin-right: 15px;
}
#lista-menu a{
	color: white;

}


